<a href="https://colab.research.google.com/github/carlosmatherson/PolymerGCN/blob/main/PerformanceAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
!pip3 install pickle5

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pickle5
  Downloading pickle5-0.0.12-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (256 kB)
     |████████████████████████████████| 256 kB 15.6 MB/s
Installing collected packages: pickle5
Successfully installed pickle5-0.0.12

In [ ]:
import pandas as pd
import pickle5 as pickle

# Performance

In each dataframe, rows 0-4 represent the loss/metrics from each fold in the cross validation. The last two rows show the average statistics along with their standard deviation.

TgGCN Performance Metrics.

In [26]:
with open('/content/TgGCN_performance.pkl', 'rb') as f:
  TgPerf = pickle.load(f)

mean = TgPerf.mean() # Mean
stdev = TgPerf.std(ddof=1) # Sample St. Dev. (n-1)

TgPerf.loc['Mean'] = mean
TgPerf.loc['Std. Dev.'] = stdev

TgPerf.to_pickle('TgGCN_performance.pkl') # Save output

In [27]:
display(TgPerf)

,Tot. MSE,GCN MSE,NN MSE,GCN RMSE,GCN R^2,NN RMSE,NN R^2
0,4392.815430,2368.909424,2009.949463,48.671444,0.667902,44.832462,0.715713
1,3350.620850,1738.944702,1600.586548,41.700657,0.818316,40.007332,0.836255
2,3382.677734,1817.899414,1553.961060,42.636833,0.612004,39.420311,0.664252
3,2142.381348,1071.594238,1061.338867,32.735214,0.842206,32.578194,0.844888
4,1275.766968,662.654358,603.496033,25.742073,0.922449,24.566156,0.929830
Mean,2908.852466,1532.000427,1365.866394,38.297244,0.772575,36.280891,0.798188
Std. Dev.,1212.050121,669.461963,542.969091,9.036146,0.128591,7.871097,0.106889